---
# Only the main Sass file needs front matter (the dashes are enough)
---

@charset "utf-8";

@import "minimal-mistakes/skins/{{ site.minimal_mistakes_skin | default: 'default' }}"; // skin
@import "minimal-mistakes"; // main partials

// font-size change
.page__content {
  font-size: 15px !important;
}

.page__lead {
  display: none;
}

.page {
  padding-right: 0px !important;
}

.sidebar li {
  margin: 10px 0 !important;
}

pre, code, .highlighter-rouge {
  background-color: #263238 !important;
  font-family: Monaco,Consolas,"Lucida Console",monospace !important;
  color: #eff !important;
}
